extends ../common/layout 

block layout-content 
  .header.container.addwhiskey
    h2.page-title Administer Liquors Items in the Data Base 
    a.btn.btn-primary.right(href="/admin/whiskey/add") + Add new item 
  .container
    table.table.table-bordered.border-secundary
      thead 
        tr 
          th Name 
          th.hidesm Brand 
          th.hidesm.hidemd Origin 
          th.hidesm Price 
          th.hidesm.hidemd Image URL 
          th Action
      tbody 
        each whiskey in whiskeys 
          tr 
            td #{whiskey.name}
            td.hidesm #{whiskey.brand}
            td.hidesm.hidemd #{whiskey.origin}
            td.hidesm #{whiskey.price} 
            td.hidesm.hidemd #{whiskey.image_url} 
            td
              form(action="/admin/whiskey/delete")
                input(type="hidden", name="whiskeyId", value=whiskey._id)
                button.btn.btn-danger(type="submit") Delete

              
